.toastList {
    position: fixed;
    z-index: 999999;
    bottom: 0px;
    right: 10px;
    width: 400px;
}

.toastItem {
    position: relative;
    overflow: hidden;
}

.toastItem h5 {
    font-size: 1em;
    text-transform: capitalize;
}

.toastItem p {
    font-size: 0.9em;
}

.toastItem button {
    position: absolute;
    top: 7px;
    right: 7px;
    height: 5px;
    width: 5px;
}

.toastItem span {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 4px;
    
}